body {
  font-family: 'Montserrat', sans-serif;
  background: #0cb3f8;
  /* Menu bar */
  /*top container*/
  /*pricing container*/ }
  body .navbar {
    color: white;
    font-weight: 700;
    margin-left: 98px;
    margin-right: 98px; }
  body .navbar-brand {
    color: white;
    font-size: 16.39pt; }
  body .nav, body a {
    font-size: 12pt;
    color: white;
    text-transform: uppercase; }
  body .row-price {
    background: #222222;
    color: white; }
  body h2 {
    font-size: 44pt;
    font-weight: bold; }
  body h3 {
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase; }
  body .price {
    background: white;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 45px;
    margin-bottom: 110px;
    color: #242526; }
    body .price-ul {
      padding: 0;
      padding-inline-start: 0;
      list-style-type: none;
      font-size: 14pt;
      font-weight: normal; }
    body .price.blue {
      background: #1b8bf9;
      color: white; }
    body .price-p {
      font-size: 12pt;
      font-weight: normal; }
  body #amount {
    font-size: 48pt;
    font-weight: bold; }
  body .sub {
    font-size: 16pt;
    color: #bcc6d0;
    font-weight: lighter; }
