body {
  font-family: 'Montserrat', sans-serif;
  background: #0cb3f8;
  /* Menu bar */ }
  body .navbar {
    color: white;
    font-weight: 700;
    margin-left: 98px;
    margin-right: 98px; }
  body .navbar-brand {
    color: white;
    font-size: 16.39pt; }
  body .nav-link {
    font-size: 12pt;
    color: white;
    text-transform: uppercase;
    text-decoration: none; }
  body .nav-link:hover {
    border-bottom: 3px solid white; }

/*top container*/
h1 {
  font-size: 70pt;
  font-weight: bold;
  color: white;
  margin-top: 140px; }

.hero-word {
  font-size: 21pt;
  color: white;
  margin-bottom: 100px; }

.learn {
  font-size: 10pt;
  color: white;
  padding: 2px;
  margin-left: 35px; }

.learn:hover {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid white; }

/*end top container*/
/*pricing container*/
.row-price {
  background: #222222;
  color: white; }

h2 {
  font-size: 44pt;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 35px; }

h3 {
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase; }

.price {
  background: white;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 45px;
  margin-bottom: 110px;
  margin-top: 40px;
  color: #242526; }
  .price.blue {
    background: #1b8bf9;
    color: white; }

.price ul {
  padding: 0;
  padding-inline-start: 0;
  list-style-type: none;
  font-size: 14pt;
  font-weight: normal; }

.price p {
  font-size: 12pt;
  font-weight: normal; }

#amount {
  font-size: 48pt;
  font-weight: bold; }

#sub {
  font-size: 16pt;
  color: #bcc6d0;
  font-weight: lighter;
  padding-bottom: 40px; }
